build/Debug/TheOne.tlog/
build/TheOne.opensdf
build/TheOne.sdf
build/Debug/TheOne.exe
build/TheOne.v12.suo
build/Debug/TheOne.ilk
build/Debug/TheOne.pdb
build/Debug/vc120.pdb
build/Debug/*.obj
*.log
*.idb